<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzqBPSQ__CjGhBq3jDOet0xfgXuiYBS7o</string>
	<key>GCM_SENDER_ID</key>
	<string>78016706706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTextmsgFbApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-fb-app-58655</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-fb-app-58655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78016706706:ios:0aa7525d9ff5cb44074e4b</string>
</dict>
</plist>